{% extends "base.html" %}

{% block content %}
  <div class="post-form">
    <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="upload-btn-wrapper">
        <button class="btn">Upload a img</button>
        {{ form.file(id="post") }}
      </div>
      <p>{{ form.name(class_="submit_feld", autocomplete="off", id="post") }}</p>
      <p>{{ form.submit(class_="submit_button", id="post") }}</p>
    </form>
    <div class="bilder">
      {% for p in post.query.all() %}
        {% if p.author == current_user and nummer != 3 %}
          <p class="bilde-p">{{p.name}}</p>
          <img src="{{p.path}}", class="bilde-class-to">
          {% set count =  nummer + 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
